@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Fjalla One", sans-serif;
  background-color: #1f2937;
  color: white;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
header {
  background-color: #1e40af;
  color: white;
}
header h1 {
  padding: 0.5rem 10px;
  font-weight: 400;
}

h3 {
  padding-top: 2rem;
}

header nav {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
header nav a {
  padding-left: 1rem;
  text-decoration: none;
  color: white;
  padding: 10px;
}
header nav a:hover {
  color: bisque;
}
h1 {
  padding-bottom: 10px;
}
/* isTriangle section */
label {
  margin-top: 1rem;
}
.angle-input {
  margin: 1rem 0;
  width: 30%;
  padding: 0.7rem 0;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
}
.is-triangle-button {
  border: none;
  padding: 1rem 0.7rem;
  background-color: #1e40af;
  border-radius: 10px;
  font-size: 18px;
  color: white;
}
.output-el {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* quiz  */
.quiz-form {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 40px;
}
.question-container {
  padding: 2rem;
}
.question-container p {
  padding: 1rem;
}
.question-container label {
  padding: 2px;
  font-weight: 200;
}

footer {
  position: fixed;
  bottom: 5px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .fa-brands {
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px 10px 0 10px;
}
footer .fa-brands:hover {
  color: #1e40af;
}
footer p a:hover {
  color: #1e40af;
}
